langchain_community==0.4.2
langchain_core==1.4.8
langchain_tavily==0.2.18
langgraph==1.2.6
pydantic==2.13.4
PyYAML==6.0.3
Requests==2.34.2
azure-functions
langchain-nvidia-ai-endpoints==1.0.0
langchain-openai